table.shtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width: 100%
}
table.shtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
	height: 70
}
table.shtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}
table.shtable tr {
	background-color: #ffffff;
}
table.shtable tr:hover {
	background-color: #ffff66;
}
